/*---------- PRIMARY TAGS ------------------------ */

nav {
    background-color: lightgrey;
    margin-bottom: 30px;
}

li {
    list-style: none;
    display: inline;
    margin: 10px;
}


/*-------- ID's ---------------------------------*/

#twitter {
    background-image: url(../image/twitter.png);
    background-size: 32px;
    background-repeat: no-repeat;
    margin: 10px;
    width: 100px;
    text-align: right;
}

#main {
    background-color: rosybrown;
}

#navbar {
    color: black;
    font-weight: bold;
}

#book_cover {
    float: left;
}

#book_group {
    text-align: center;
    position: relative;
}

#book_tributes {
    text-align: center;
    background-color: orangered;
}

#poptitle {
    /*text-align: right;*/
    margin: 15px;
    margin-left: 50px;
    border-radius: 5px;
    width: 250px;
    /*float: left;*/
}


/*------------- CLASSES ---------------------- */

.body {
    margin-top: 80px;
    margin-left: 10px;
}

.nav .navbar-right {
    margin-right: 30px;
}

.icon-bar {
    background-color: black;
}

.linedup {
    display: inline;
    position: relative;
    color: black;
}

.focal {
    margin: 120px;
}

.home {
    padding: 5px;
    color: white;
    background-color: green;
    border-radius: 10px;
    border-style: outset;
}


/* ------ Sign Up ------- */

.sbmit {
    padding: 5px;
    width: 300px;
    color: white;
    background-color: blue;
    border-radius: 20px;
    border-style: outset;
    border-width: 4px;
    border-color: silver;
    text-align: center;
}

.setting {
    padding: 5px;
    color: white;
    border-radius: 10px;
    border-style: outset;
}

.loggedout {
    padding: 5px;
    color: white;
    background-color: darkslategrey;
    border-radius: 10px;
    border-style: outset;
}

.from {
    display: inline-block;
    font-size: 1em;
    border-radius: 20px;
    padding: 5px;
    margin-left: 10px;
}

.location {
    background-color: dodgerblue;
    width: 200px;
    padding: 20px;
    margin: 0px;
    text-align: center;
    border-radius: 10px;
}

.magic {
    /*text-align: right;*/
    margin: 15px;
    margin-left: 50px;
    border-radius: 5px;
    width: 400px;
    /*float: left;*/
}

.btn:hover {
    border-style: outset;
    border-width: 5px;
    border-radius: 10px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


/* ----------------- POPUPS ----------------------- */

.popup {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.75);
}


/* Inner */

.popup-inner {
    max-width: 700px;
    width: 90%;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
    border-radius: 3px;
    background: #fff;
}


/* Close Button */

.popup-close {
    width: 30px;
    height: 30px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 1000px;
    background: rgba(0, 0, 0, 0.8);
    font-family: Arial, Sans-Serif;
    font-size: 20px;
    text-align: center;
    line-height: 100%;
    color: #fff;
}

.popup-close:hover {
    -webkit-transform: translate(50%, -50%) rotate(180deg);
    transform: translate(50%, -50%) rotate(180deg);
    background: rgba(0, 0, 0, 1);
    text-decoration: none;
}

div.container {
    text-align: center;
    padding: 20px 20px;
}

.imagebox {
    width: 200px;
}


/* ----------------------------- GRID ---- */

* {
    box-sizing: border-box;
}

.grid {
    background: #EEE;
    max-width: 1200px;
}


/* clearfix */

.grid:after {
    content: '';
    display: block;
    clear: both;
}


/* ---- grid-item ---- */

.grid-item {
    width: 160px;
    height: 120px;
    color: black;
    font-weight: bolder;
    float: left;
    background: darkorange;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.5);
    border-radius: 35px;
}


/*---- image shaping ---------- */

.grid-item--width1 {
    width: 200px;
    border-radius: 20px;
}

.grid-item--height1 {
    height: 140px;
}


/*---- image shaping ---------- */

.grid-item--width2 {
    width: 240px;
    padding-top: 20px;
    margin: 20px;
}

.grid-item--height2 {
    height: 300px;
}

.remove3 .glyphicon {
    color: red;
    top: 70px;
    left: 94px;
    display: inline-block;
    font-size: 1.5em;
    border-style: outset;
    border-radius: 20px;
}

.remove3 .glyphicon:hover {
    color: orange;
    top: 70px;
    left: 94px;
    display: inline-block;
    font-size: 1.8em;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


/*----------------------------------- TOOL TIPS -------*/

#tooltip {
    position: relative;
    display: inline-block;
    /*border-bottom: 1px dotted black;*/
}

#tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 2px;
    position: absolute;
    z-index: 1;
    bottom: 85%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 1s;
}

#tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

#tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}