<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style.css">
    <title><%=blocks.title%></title>
</head>
<body>
<nav class="wrapper" style="font-size: 2.2em;"> FreeCodeCamp Book Trading</nav>      
<ul class="nav navbar-right">
        <li><a href="/auth/login">LOGOUT</a></li>
      </ul>


<div class="container">
    <%- body %>
    <hr>

    <footer>
    <div class="row">
    
        </div>
    </footer>
</div> <!-- /container -->
</body>
</html>

